* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    cursor: url(img/cursor_guitar-removebg-preview.png), auto;
}

/* Pantalla Mobile - MENU DE NAVEGACIÓN*/

@media (min-width: 480px) {

    .logo {
        text-align: center;
        align-items: center;
        width: 250px;
        height: 100px;

    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        background-color: burlywood;
        align-items: center;
        padding: 0 20px;
    }

    nav div.opciones {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: url(img/cursor_guitar-removebg-preview.png), auto;
    }

    nav div.opciones>a {
        cursor: url(img/cursor_guitar-removebg-preview.png), auto;
        color: black;
        font-weight: 300;
        text-decoration: none;

    }

    nav div.opciones>a:hover {
        text-decoration: underline;
    }

    /* COUNTDOWN */

    .container-reloj {
        width: 100%;
        max-width: 800px;
        padding: 0px 20px;
        border-radius: 20px;
        min-height: 20vh;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .countdown {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        flex-wrap: wrap;
    }

    .countdown div {
        display: grid;
        place-items: center;
        padding: 10px;
    }

    p {
        padding: 30px 0;
        margin-top: 15px;
        color: red;
    }


    /* Taylor Version */

    .taylors-version {
        padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        background-color: white;
    }

    .titulo {
        color: black;
        font-size: 35px;
        text-align: center;
        align-items: center;
        margin-bottom: 35px;
    }

    .hojas-otoño {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .textos h3 {
        margin-bottom: 15px;
    }

    .textos h3 span {
        background-color: burlywood;
        color: white;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 2%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        margin-right: 7px;
    }

    /* ERAS COLECCTION - FEARLESS*/


    .cards-grid {
        display: flex;
        margin-top: 60px;
        padding-bottom: 60px;
    }

    .flip-card {
        width: 400px;
        height: 450px;
        perspective: 2000px;
    }

    .flip-card-interno {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 550ms;
        transform-style: preserve-3d;
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 70%;
        height: 70%;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .flip-card-back {
        display: grid;
        place-items: center;
        padding: 32px;
        transform: rotateY(180deg);
    }

    .flip-card:hover .flip-card-interno {
        transform: rotateY(-180deg);
    }
}