* {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  cursor: url(img/cursor_guitar-removebg-preview.png), auto;
  background-color: burlywood;
}

/* Pantalla Mobile - MENU DE NAVEGACIÓN*/
@media (min-width: 480px) {

  .logo {
    text-align: center;
    align-items: center;
    width: 250px;
    height: 100px;

  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    background-color: burlywood;
    align-items: center;
    padding: 0 20px;
  }

  nav div.opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: url(img/cursor_guitar-removebg-preview.png), auto;
  }

  nav div.opciones>a {
    cursor: url(img/cursor_guitar-removebg-preview.png), auto;
    color: black;
    font-weight: 300;
    text-decoration: none;

  }

  nav div.opciones>a:hover {
    text-decoration: underline;
  }

  /* Taylor Version */

  .taylors-version {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

  }

  .titulo {

    color: black;
    font-size: 35px;
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
  }

  .versiones {

    /* height: 600px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .textos h3 {
    margin-bottom: px;
  }


  .textos h3 span {
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 7px;
  }

  /* ERAS COLECCTION */

  .flip-card {

    width: 500px;
    height: 500px;
    perspective: 2000px;
  }

  .flip-card-inner {

    position: relative;
    width: 400px;
    height: 400px;

    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card-back {

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card-back {

    display: grid;
    place-items: center;
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }

  /*BOTON*/
  body {
    transition: background-color 0.5s ease;
}

/* tema claro */
body.modo-claro {
    background-color: #ffffff;
    color: #000000;
}

/* tema oscuro */
body.modo-nocturno {
    background-color: #000000;
    color: #ffffff;
}
}